/*GOOGLE FONT  */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap");

* {
    font-family: "Inconsolata", monospace;
}

.relation {
    height: 90vh;
}
.relation-bien {
    height: 70vh;
}
.carousel-item {
}
.accueil-carousel img {
    filter: brightness(40%);
}

.relation {
    position: relative;
}

.carousel-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.service {
    background-color: #fff;
}
